body{
    background-color: #333;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 20px 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

table {
    background-color: #333;
    border: black solid 3px;
}
thead {
    font-size: 14px;
}

th, td {
    border: black solid 3px;
}